body{
  margin: 0;
  padding: 0;
  font-family:monospace;
  background: #f5f5f5;
  overflow: hidden;
}
.sidebar{
  position: fixed;
  top:0;
  left: -250px;
  background: #262626;
  width: 250px;
  height: 100%;
  transition: .3s;
}
.active{
  left: 0;
}
main::-webkit-scrollbar {
    display: none;
}
main{
  position: fixed;
  left: 50px;
  top: 10%;
  right: 0;
  background: #f5f5f5;
  height: 80%;
  width: 90%;
  transition: .4s;
  overflow-y: scroll;
}
.mainactive{
  width: 70%;
  left:300px;
}
footer::-webkit-scrollbar {
    display: none;
}
footer{
  position: fixed;
  top: 90%;
  left: 50px;
  right: 0;
  height: 10%;
  width: 100%;
  background: #f5f5f5;
  transition: .3s;
  overflow-y:scroll;
}
.footeractive{
  width: 100%;
  left: 300px;
}
header::-webkit-scrollbar {
    display: none;
}
header{
  position: fixed;
  left: 50px;
  top: 5px;
  right: 0;
  background: #f5f5f5;
  height: 10%;
  width: 90%;
  transition: .3s;
  overflow-y: auto;
}
.headeractive{
  width: 100%;
  left: 300px;
}
ul{
  margin: 0;
  padding: 20px 0px;
}
ul li{
  list-style: none;
}
ul li a{
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.sidebarbtn{
  position: absolute;
  top: 10px;
  right: -50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background:#f5f5f5;
  border: none;
  outline: none;
}
.sidebarbtn span{
  display: block;
  width: 35px;
  height: 3px;
  background: #262626;
  position: absolute;
  top: 24px;
  transition: .3s;
}
.sidebarbtn span:before{
  content: '';
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s;
}
.sidebarbtn span:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #262626;
  transition: .3s;
}
.sidebarbtn.toggle span{
  background: none;
}
.sidebarbtn.toggle span:before{
  top: 0;
  transform: rotate(45deg);
}
.sidebarbtn.toggle span:after{
  top: 0;
  transform: rotate(-45deg);
}
h1{
  font-size: 30px;
  font-weight: bold;
}
h2{
  font-size: 24px;
  font-weight: bold;
}
.btn{
  cursor: pointer;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    transition-duration: 0.5s;
}
.btn:hover{
    background-color: #a6a6a6;
    color: #e0e0e0;
}
p{
  font-size: 18px;
  font-weight: 500;
}
a{
font-size: 18px;
font-weight: 500;
text-decoration: underline;
color: black;
}
@media only screen and (max-width: 600px) (max-height: 320px;) {
  main{
    display: flex;
  }
  footer{
    display: flex;
  }
  header{
    display: flex;
  }
}
